<html>
  <head>
    <title>Chords</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/tokenize2.css">
  </head>
  <body bgcolor="cyan">

    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="assets/js/tokenize2.js"></script>
    <select class="tokenize-demo" id="k1" multiple>
      <option value="C">C</option>
      <option value="C#">C#</option>
      <option value="D">D</option>
      <option value="D#">D#</option>
      <option value="E">E</option>
      <option value="F">F</option>
      <option value="F#">F#</option>
      <option value="G">G</option>
      <option value="G#">G#</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="Bb">Bb</option>
      <option value="Db">Db</option>
      <option value="Eb">Eb</option>
      <option value="Gb">Gb</option>
      <option value="Ab">Ab</option>
    </select>
    <script src="assets/js/home.js"></script>
    <button onclick="getEasyChords()">Easy Chords</button>
    <div id="result">
      <div id = "capo"></div>
      <div id = "oldChords"></div>
      <div id = "chords"></div>
    </div>
  </body>
</html>

